.question-item {
    border-bottom: 1px solid #DBDEF0;

}
.question {
    font-size: 16px;
    margin-bottom: 1rem;
}
.answer {
    display: inline-block;
    min-width: 65px;
    text-align: center;
    padding: 3px 16px;
    font-size: 12px;
    border: 1px solid #4D5B9E;
    border-radius: 10px;
    margin: 0 12px 16px 0;
    cursor: pointer;
    transition: .1s ease-in-out;
}
.answer:hover{
    background: #D6DBF5;
    border: 1px solid #D6DBF5;

}
.selected {
    background: #D6DBF5;
    border: 1px solid #D6DBF5;
}
.correct {
    background: #94D7A2;
    border: 1px solid #94D7A2;
}
.chosen_and_correct {
    background: #94D7A2;

    border: 2px solid #22993c;
}

.incorrect {
    background: #F8BCBC;
    border: 1px solid #F8BCBC;
}